.app-container {
    height: 100%;
    // width: 100%;
    .body-container {
        position: relative;
        display: flex;
        height : calc(100% - 3.5rem);
        .side-bar-container {
            box-shadow: 0 2px 5px #0000004d;
            position: absolute;
            height: 100%;
            width: 20%;
            min-width: 250px;
            top: 0;
            left: -400px;
            z-index: 1;
            overflow-x: hidden;
            transition: all 0.3s;
            background-color: #ffffff;
            opacity: 0;
            &.open {
                opacity: 1;
                left: 0;
            }
        }
        .map-container {
            flex: 1;
        }
    }
    
}


@media only screen and (min-width: 992px) {
    .app-container {
        .body-container {
            .side-bar-container {
                opacity: 0;
                width: 0;
                min-width: initial;
                position: static;
                &.open {
                    width: 20%;
                    opacity: 1;
                }
            }
        }
    }
}